{% extends 'layouts/master.twig' %}
{% block content %}
<section class="rp-section"><div class="rp-container rp-card"><h1>تفاصيل الطلب</h1><p>تفاصيل الطلب تظهر هنا.</p></div></section>
{% endblock %}
